= content_tag :ul, class: 'nav nav-list', id: ('pages' if admin?), data: {update_url: sort_pages_url} do
  - pages.each do |page|
    %li
      = link_to_unless_current page.title, "/#{page.permalink}"
      = render 'submenu_pages', pages: page.children if page.children.present?





  -#  - pages.each do |page|
  -#    = content_tag_for :li, page do
  -#      = link_to_unless_current page.title, "/#{page.permalink}"
