!!!
%html
  %head
    %title Tigr CMS
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = link_to 'Main', root_path
      .row
        .span4
          .well.sidebar-nav
            = content_tag :ul, class: 'nav nav-list', id: 'pages', data: {update_url: sort_pages_url} do
              - @pages.each do |page|
                = content_tag_for :li, page do
                  = link_to page.title, "/#{page.permalink}"
              %hr
              = link_to 'New page', new_page_path
        .span8
          = yield